name: Release

on:
  create:
    tags:
    - v*

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Validates GoReleaser configurations
      uses: docker://goreleaser/goreleaser:latest
      with:
        args: check

    - name: Release on GitHub
      uses: docker://goreleaser/goreleaser:latest
      with:
        args: release
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}